html {
    color: #F44;
}

#schuif-puzzel td {
    border: 1px solid #33F;
}

/*
#schuif-puzzel td.piece_1 {
    background: url('../gfx/boerderij.jpg') 0 0;
}
#schuif-puzzel td.piece_2 {
    background: url('../gfx/boerderij.jpg') 70px 0;
}
#schuif-puzzel td.piece_3 {
    background: url('../gfx/boerderij.jpg') 140px 0;
}
#schuif-puzzel td.piece_4 {
    background: url('../gfx/boerderij.jpg') 0 70px;
}
#schuif-puzzel td.piece_5 {
    background: url('../gfx/boerderij.jpg') 70px 70px;
}
#schuif-puzzel td.piece_6 {
    background: url('../gfx/boerderij.jpg') 140px 70px;
}
#schuif-puzzel td.piece_7 {
    background: url('../gfx/boerderij.jpg') 0 140px;
}
#schuif-puzzel td.piece_8 {
    background: url('../gfx/boerderij.jpg') 70px 140px;
}
*/
